name: Run Tests

on:
  pull_request:
    branches:
      - main

jobs:
  default:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: "0" # fetch all history for all tags and branches so that changeset-builder can generate changelogs

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Set DIFFERENTIAL_API_SECRETs for tests
        run: sh ts-core/src/tests/obtain-demo-tokens.sh

      - name: Run tests
        run: npx lerna run test
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
          JWKS_URL: ${{ secrets.JWKS_URL }}
          INFLUXDB_TOKEN: ${{ secrets.INFLUXDB_TOKEN }}
          INFLUXDB_URL: ${{ secrets.INFLUXDB_URL }}
          INFLUXDB_ORG: ${{ secrets.INFLUXDB_ORG }}
          INFLUXDB_BUCKET: ${{ secrets.INFLUXDB_BUCKET }}

      - name: Test builds
        run: npx lerna run build
